h1 {
  font-family: 'Playfair Display', serif;
}

.no-animation:hover,
.no-animation:focus {
  background-color: inherit !important;
  color: inherit !important;
  border-color: inherit !important;
  box-shadow: none !important;
  outline: none !important;
}

.text-custom-card-align {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (min-width: 1152px) {
  .text-custom-start {
    text-align: left !important;
  }
}

@media (min-width: 1152px) {
  .text-custom-card-align {
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: left !important;
  }
}